{% extends "base.html" %}
{% block pageTitle %}Company Dashboard{% endblock %}
{% block breadcrumb %}COMPANY / DASHBOARD{% endblock %}

{% block mainContent %}
<div class="d-flex justify-content-between align-items-end border-bottom border-dark border-2 pb-3 mb-5">
    <div>
        <h1 class="font-display display-5 mb-1">
            {{ company.company_name | upper }}
        </h1>
        <span class="data-tag me-2">HR: {{ company.hr_contact | default('N/A', true) }}</span>
        {% if company.website %}
        <a href="{{ company.website }}" target="_blank" class="data-tag text-dark text-decoration-none">SITE LINK
            &nearr;</a>
        {% endif %}
    </div>

</div>

<div class="row g-4 mb-5 font-mono">
    <div class="col-md-3">
        <div class="brutal-card text-center p-3">
            <div class="fs-1 fw-bold text-primary">{{ stats.active_drives }}</div>
            <div class="text-uppercase small">Active Drives</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="brutal-card text-center p-3">
            <div class="fs-1 fw-bold">{{ stats.total_applications }}</div>
            <div class="text-uppercase small">Total Applicants</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="brutal-card text-center p-3">
            <div class="fs-1 fw-bold" style="color: var(--color-secondary); text-shadow: 1px 1px 0 #000;">{{
                stats.shortlisted }}</div>
            <div class="text-uppercase small">Shortlisted</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="brutal-card text-center p-3">
            <div class="fs-1 fw-bold text-success">{{ stats.selected }}</div>
            <div class="text-uppercase small">Hired</div>
        </div>
    </div>
</div>


{% endblock %}