<!--
  Christiano Blairoy Fernandes
  23f2004927
  9 April 2026
  templates/components/_confirmModal.html
-->

<div class="modal fade" id="globalConfirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content brutal-card p-0">
            <div class="modal-header border-bottom border-dark border-2 bg-white rounded-0 p-4">
                <h4 class="modal-title font-display mb-0" id="modalTitle">CONFIRM ACTION</h4>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body font-mono p-4 fs-5" id="modalMessage">
                Are you sure you want to proceed? This action may be irreversible.
            </div>
            <div
                class="modal-footer border-top border-dark border-2 bg-light rounded-0 p-4 d-flex justify-content-between">
                <button type="button" class="brutal-btn wireframe" data-bs-dismiss="modal">CANCEL</button>
                <form id="confirmModalForm" method="POST" action="" class="m-0">
                    {{ form.hidden_tag() if form else '' }}
                    <button type="submit" class="brutal-btn" style="background-color: #ef4444; color: white"
                        id="confirmSubmitBtn">
                        EXECUTE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('globalConfirmModal')
        .addEventListener('show.bs.modal', (e) => {
            const form = document.getElementById('confirmModalForm');
            form.action = e.relatedTarget.dataset.actionUrl;

            let input = form.querySelector('input[name="action"]');
            if (!input) {
                input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'action';
                form.appendChild(input);
            }
            input.value = e.relatedTarget.dataset.actionValue;
        });
</script>