<!--
  Christiano Blairoy Fernandes
  23f2004927
  9 April 2026
  templates/components/_loadingSkeleton.html
-->

<div class="d-flex flex-column gap-3 placeholder-glow" id="dataLoadingSkeleton">
    <div class="placeholder border border-dark border-2 w-100 shadow-sm"
        style="height: 70px; background-color: #ffffff"></div>
    <div class="placeholder border border-dark border-2 w-100 shadow-sm"
        style="height: 70px; background-color: #ffffff"></div>
    <div class="placeholder border border-dark border-2 w-75 shadow-sm" style="height: 70px; background-color: #ffffff">
    </div>
</div>