{% macro brutalTable(headers, items, emptyHeadline="No Data Found") %}
<div class="bg-white border border-dark p-0 overflow-hidden" style="border-width: 1px !important;">
    <div class="table-responsive">
        <table class="table table-borderless mb-0 align-middle">

            <thead class="border-bottom font-mono bg-light text-muted small">
                <tr>
                    {% for header in headers %}
                    <th scope="col" class="{{ header.class | default('p-4') }} fw-bold">{{ header.label }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody class="font-mono">
                {% for item in items %}

                {{ caller(item) }}

                {% else %}

                <tr>
                    <td colspan="{{ headers|length }}" class="p-0">
                        {% set emptySubtext = "System query returned zero results." %}
                        {% include 'components/_emptyState.html' %}
                    </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endmacro %}